/*aside {
  width: 260px;
  float: left;
}*/

/* data list item styles */
.data-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style: none;	
	height: 100%;
}

.data-list li {
 	border: 1px solid #ccc;
	border-collapse: collapse;
	background-color: #fff;
	margin: 0px;
	padding: 5px;
  cursor: pointer;	
}

.data-list > li[class=selected] {
	background-color: #e0e0e0;
}

.list-item {
	border: 0px;	
 	border-top: solid 1px #ccc;
	background-color: #fff;
	padding: 5px;	
	width: 100%;
	display: inline-block;
}

.list-item-footer {
	padding: 0px;	
}

.list-item-text {
 	border: 0px;
	background-color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

/* toolbar/button styles */
.toolbar {
	background-color: #eee;
}

.green-button {
	color: green;
}

.red-button {
	color: red;
}

/* topic editor container styles */
.topic-editor {
  padding: 5px;
}

.hidden {
	display: none;
}

.color {
  border: 2px solid black;
  height: 16px;
  width: 16px;
  display: inline-block;
	margin-top: 5px;
}

.color:hover {
  cursor: pointer;
  border: 1px solid orangered;
}