<aside id="topic-list" class="topic-list card">
  <!-- topic list section header -->
  <div class="card-title">
    <h2>
      <!-- TODO: clean up those enters and clicks! -->
      <a #diagramNameEditLink 
        (click)="diagramNameEditor.style='display:block'; diagramNameEditLink.style='display:none'; showTopicEditor(selectedTopicIndex, false);">
        {{diagram.name}}
      </a>
      <div #diagramNameEditor class="hidden">
        <input #diagramName placeholder="Name Your" [attr.value]="diagram.name" 
          (keyup.enter)="diagram.name = diagramName.value; diagramNameEditor.style='display:none'; diagramNameEditLink.style='display:inline'"
        />
        <button id="save-diagram-name-button" 
          (click)="diagram.name = diagramName.value; diagramNameEditor.style='display:none'; diagramNameEditLink.style='display:inline'">&#10003;</button>
      </div>
      Venn Diagram
    </h2>
    <span class="ui-tip">click to change what you fancy &#8711;</span>    
  </div>
  <!-- topic list section content -->
  <div id="list-view"> <!--class="data container"-->
    <ul class="data-list">
      <li *ngFor="let topic of diagram.topics; let i=index;" [attr.data-index]="i" 
        [style.background-color]="topic.fillColor"
        [style.border-color]="topic.strokeColor"
        (click)="editTopic(i)">
        <span [attr.id]="'topic-label-' + i">{{ topic.name }}</span>
        <!-- TODO: move this to a separate topic-editor UI component -->
        <div class="topic-editor hidden" [attr.id]="'topic-editor-' + i">
          <input placeholder="Enter Topic Name" [attr.id]="'topic-name-' + i" [attr.value]="topic.name">
          <button (click)="showTopicEditor(i, false);" class="green-button">&#10003;</button>
          <button (click)="diagram.removeTopic(i)" class="red-button">&#10007;</button>
        </div>
        <div class="topic-toggles hidden" [attr.id]="'topic-toggles-' + i">
          <button (click)="diagram.moveTopicUp(i)">&uarr;</button>
          <button (click)="diagram.moveTopicDown(i)">&darr;</button>
          <span class="label">stroke:</span>
          <div class="color-box stroke-color-box" 
            [style.border-color]="topic.strokeColor"></div>
          <span class="label">fill:</span>
          <div class="color-box" 
            [style.background-color]="topic.fillColor"></div>
        </div>
      </li>
    </ul>
    <!-- add topic toolbar -->
    <div class="toolbar">
      <input #newTopic placeholder="Enter New Topic" 
        (click)="showTopicEditor(selectedTopicIndex, false);" 
        (keyup.enter)="addTopic(newTopic.value); newTopic.value='';" />
      <button id="add-topic-button" (click)="addTopic(newTopic.value)">Add</button>
    </div>
  </div>
</aside>
<br />
<br />