<main id="diagram-view" class="main-content diagram">
  <!-- TODO: convert this to svg ellipses for svg view diagram segments update
  <ul class="data-list">
    <li *ngFor="let topic of diagram.topics; let i=index;" [attr.data-index]="i" 
      [style.background-color]="topic.fillColor"
      [style.border-color]="topic.strokeColor">
      <span [attr.id]="'topic-label-' + i">{{ topic.name }}</span>
    </li>
  </ul>  
  -->
  <svg id="svg" class="svg" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 540 540">
    <text x="50%" y="20" text-anchor="middle">{{diagram.name}} Venn Diagram</text>
    <text x="50%" y="40" text-anchor="middle">[todo]</text>

    <!-- created by app link group -->
    <g id="created-by-group">
      <text x="10" y="530" font-size="10">created by: </text>
      <a xlink:href="https://venn-diagrams.herokuapp.com">
        <text x="60" y="530" heigt="20" font-size="10">https://venn-diagrams.herokuapp.com</text>
      </a>
    </g>
  </svg>
  <!-- save diagram svg toolbar -->
  <div class="toolbar">
    <button id="export-svg-button" (click)="exportSvg()">Export SVG</button>
    <!-- TODO: see why this broke in last download blob refactor 
    <button id="save-png-button" (click)="saveAsPng()">Save as PNG</button>
    -->
  </div>  
</main>
