<main id="diagram-view" class="main-content diagram">
  <svg id="svg" class="svg" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 540 540">
    <text x="50%" y="20" text-anchor="middle">{{diagram.name}} Venn Diagram</text>
    <!-- main diagram circle -->
    <g id="main-circle"> <!--transform="translate(250,250)"-->
      <circle cx="50%" cy="50%" r="60"
        style="fill: #ffffb3; stroke: black; stroke-width: 2;"></circle>
      <text x="50%" y="50%" text-anchor="middle">{{diagram.name}}</text>
    </g>
    <!-- segments svg -->
    <g id="segments-group">
      <g *ngFor="let topic of diagram.topics; let i=index;" 
        [attr.data-index]="i"
        [attr.id]="'segment-group-' + i">
        <ellipse 
          [attr.id]="'segment-' + i"
          [attr.cx]="topic.cx" 
          [attr.cy]="topic.cy"
          [attr.rx]="topic.rx" 
          [attr.ry]="topic.ry"
          [style.fill]="topic.fillColor"
          [style.fill-opacity]=".6"
          [style.stroke]="topic.strokeColor"
          [style.stroke-width]="2">
        </ellipse>
        <text 
          [attr.id]="'segment-label-' + i"
          [attr.x]="topic.cx" 
          [attr.y]="topic.cy"
          text-anchor="middle">{{topic.name}}</text>
      </g>
    </g>  
    <!-- created by app link group -->
    <g id="created-by-group">
      <text x="10" y="530" font-size="10">created by: </text>
      <a xlink:href="https://venn-diagrams.herokuapp.com">
        <text x="60" y="530" heigt="20" font-size="10">https://venn-diagrams.herokuapp.com</text>
      </a>
    </g>
  </svg>
  <!-- save diagram svg toolbar -->
  <div class="toolbar">
    <button id="export-svg-button" (click)="exportSvg()">Export SVG</button>
    <!-- TODO: see why this broke in last download blob refactor 
    <button id="save-png-button" (click)="saveAsPng()">Save as PNG</button>
    -->
  </div>  
</main>
