<div class="container">
	<div id="toolbar">
    <h1>{{title}}</h1>
	</div>
	<!-- app content -->
	<div id="content" class="container">	
		<div id="view-container" class="container">
      <h2>{{diagram.name}}</h2>
			<div id="list-view" class="data container">
        <ul class="data-list">
          <li *ngFor="let topic of diagram.topics; let i=index;"
            [attr.data-index]="i" (click)="editTopic(i)">
            {{ topic.name }}
            <div class="topic-editor hidden" [attr.id]="'topic-editor-' + i">
              <button (click)="diagram.moveTopicUp(i)">&uarr;</button>
              <button (click)="diagram.moveTopicDown(i)">&darr;</button>
              <button (click)="diagram.removeTopic(i)">&times;</button>              
              <span class="label">stroke:</span>
              <div class="color" [style.background-color]="topic.strokeColor"></div>
              <span class="label">fill:</span>
              <div class="color" [style.background-color]="topic.fillColor"></div>
            </div>
          </li>
        </ul>
        <input #newTopic placeholder="Enter New Topic"
          (keyup.enter)="diagram.addTopic(newTopic.value)"
          (blur)="diagram.addTopic(newTopic.value); newTopic.value='' ">
        <button (click)="diagram.addTopic(newTopic.value)">Add</button>
			</div>
		</div>
		<div id="footer" class="footer left">
			<span>github:</span>
			<a href="https://github.com/RandomFractals/venn-diagram-generator" 
        target="_blank" class="link"
				title="&copy;Random Fractals Inc. 2016 sentimental.io github">venn-diagram-generator</a>
      <span>&copy;Random Fractals Inc. | 2017</span>
		</div>
	</div>  
</div>
