<div class="container">
	<div id="toolbar">
    <h1>{{title}}</h1>
	</div>
	<!-- app content -->
	<div id="content" class="container">	
		<div id="view-container" class="container">
      <h2>{{diagram.name}}</h2>
			<div id="list-view" class="data container">
        <ul class="data-list">
          <li *ngFor="let topic of diagram.topics">
            {{ topic.name }}
            <div class="topic-editor">
              <span class="label">stroke:</span>
              <div class="color" [style.background-color]="topic.strokeColor"></div>
              <span class="label">fill:</span>
              <div class="color" [style.background-color]="topic.fillColor"></div>
            </div>
          </li>
        </ul>        
			</div>
		</div>
		<div id="footer" class="footer left">
			<span>github:</span>
			<a href="https://github.com/RandomFractals/venn-diagram-generator" target="_blank"
				title="&copy;Random Fractals Inc. 2016 sentimental.io github">venn-diagram-generator</a>
      <span>&copy;Random Fractals Inc. | 2017</span>
		</div>
	</div>  
</div>
