/**
Global app styles

Tip: use this CSS file for setting app cards and shared html tags styles.
Import other style files with media filters here
for your custom CSS app look and feel.
*/

/* app page/content styles */
html, body, #app {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

/* app title bar styles */
#app-title-bar {
	background: #06f;
  min-height: 32px;
  border-bottom: 1px solid rgba(#000, .12);
}

h1, .app-title {
	color: white;
	font-size: 1em;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
}

/* app view container styles */
.container {
 padding: 0px;
 margin: 0px;
 width: 100%;
}

/* data, graph content styles */
.data, .graph {
	background-color: #eee;
	border: solid 1px #AACFE4;
	border-radius: 0px;
	box-shadow: 0px 0px 10px #ccc;	
	margin: 0px;	
  /*overflow: hidden;*/
}

.data {
	background-color: #fff;	
	/*overflow-y: scroll;*/
}

/* menu link styles */
a {
	color: #06f;
  text-decoration: none;
	font-size: 9pt;
}

.label {
	font-size: .8em;	
	color: #333;
	margin: 0px;
}

/* custom material UI app card(s) styles */
.card {
  margin: 3px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

.card-title {
	padding: 5px;
	background-color: #eee;
	border-bottom: 1px solid #666;
}

h2 {
  font-size: .9em;
  font-weight: normal;  
}

/* app footer styles */
#footer {
  background-color: #eee;  
	border-top: 1px solid #666;
	bottom: 0px;
  left: 0px;  
	height: 24px;
  width: 100%;
  padding: 5px;
	position: fixed;  
}

.footer, .label {
	font-size: .8em;	
	color: #333;
	margin: 0px;
}

.link {
	font-size: 1.2em;
	color: orangered;
}