/**
Global app styles

Tip: use this CSS file for setting app cards and shared html tags styles.

Import other style files with media filters here
for your custom CSS app look and feel.
*/

/* app page/content styles */
html, body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
}

body {
	margin: 0;
}

/* form fields/buttons typography styles */
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/* app view container styles */
.container {
 padding: 0px;
 margin: 0px;
 width: 100%;
}

/* data, graph content styles */
.data, .graph {
	background-color: #eee;
	border: solid 1px #AACFE4;
	border-radius: 0px;
	box-shadow: 0px 0px 10px #ccc;	
	margin: 0px;	
  /*overflow: hidden;*/
}

.data {
	background-color: #fff;	
	/*overflow-y: scroll;*/
}

/* menu link styles */
a {
	color: #06f;
  text-decoration: underline;
	font-size: 1.2el;
	cursor: pointer;
}

.label {
	font-size: .8em;	
	color: #333;
	margin: 0px;
}

/* custom material UI app card(s) styles */
.card {
  margin: 3px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

.card-title {
	padding: 5px;
	background-color: #eee;
	border-bottom: 1px solid #666;
}

h2 {
  font-size: .9em;
  font-weight: normal;
	margin: 0px; 
}


/* App view styles */
.app-view {
	background: #ededed;
	min-height: 100vh;
}

.app-header,
.main-content,
.side-bar,
.footer {
	padding: 0px;
}

.main-content {
	background: white;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.app-view {
		max-width: 50em;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {
	@supports (display: grid) {

		.app-view {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
		}

		.app-header,
		.app-footer {
			grid-column: span 8;
		}

		.main-content {
			grid-column: 2/6;
		}

		.side-bar {
			grid-column: 6/8;
		}
	}
}

